
<div class="container">
  <form #studentForm="ngForm" (ngSubmit)="createStudent()">
    <div class="row  pull-right">
      <a [routerLink]="['/StudentList']">
        Back To List
      </a>
    </div>
    <br />

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Create Student</h3>
      </div>
      <div class="panel-body">
        <div class="form-group" [class.has-error]="name.invalid && name.touched">
          <label for="name" class="control-label">Name</label>
          <input id="name"
                 required type="text"
                 class="form-control"
                 name="name"
                 [(ngModel)]="studentService.student.Name"
                 #name="ngModel" />
          <span class="help-block" *ngIf="name.invalid && name.touched">
            Name is required
          </span>
        </div>
        <div class="form-group">
          <label for="email" class="control-label">Email</label>
          <input id="email" type="text" class="form-control" name="email" [(ngModel)]="studentService.student.Email" />
        </div>

        <div class="form-group">
          <label for="email" class="control-label">Class</label>
          <input id="class" type="text" class="form-control" name="class" [(ngModel)]="studentService.student.Class" />
        </div>

        <div class="form-group">
          <label for="phone" class="control-label">Phone</label>
          <input id="phone" type="text" class="form-control" name="phone" [(ngModel)]="studentService.student.Phone" />
        </div>

        <div class="form-group">
          <label for="department" class="control-label">Department</label>
          <select class="form-control"
                  name="department"
                  [(ngModel)]="studentService.student.Department">
            <option [value]="-1">Select Department</option>
            <option *ngFor="let department of departments"
                    [value]="department.Id">
              {{department.Name}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="city" class="control-label">Country</label>
          <select class="form-control"
                  (change)="onChangeCountry($event)"
                  name="country"
                  [(ngModel)]="studentService.student.Country">
            <option value="-1">Select Country</option>
            <option *ngFor="let country of countries"
                    [value]="country.Id">
              {{country.Name}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="city" class="control-label">State</label>
          <select class="form-control"
                  name="state"
                  [(ngModel)]="studentService.student.State">
            <option value="-1">Select State</option>
            <option *ngFor="let state of states"
                    [value]="state.Id">
              {{state.Name}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="city" class="control-label">City</label>
          <input id="city"
                 type="text"
                 class="form-control"
                 name="city"
                 [(ngModel)]="studentService.student.City" />
        </div>
      </div>

      <div class="panel-footer">
        <button class="btn btn-primary" type="submit" [disabled]="studentForm.invalid">Save</button>
      </div>
    </div>
  </form>
</div>
Angular Generated Forom Model : {{name.value | json}}
{{studentService.student.Name}}

