
<div class="row">
  <div class="col-lg-6">
    <div class="row form-group">
      <div class="col-lg-2">
        <label class="label-control">
          Name
        </label>
      </div>
      <div class="col-lg-10">
        <input type="text"
               class="form-control"
               placeholder="enter country name"
               [(ngModel)]="apiGatewayService.country.Name" />
      </div>
    </div>
    <div class="row form-group">
      <div class="col-lg-10">
        <button type="button" class="btn btn-primary pull-right" (click)="saveCountry()">Save</button>
      </div>
      <div class="col-lg-2">
        <button type="button" class="btn btn-primary pull-right" (click)="reset()">Reset</button>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Country Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of apiGatewayService.counries">
          <td style="cursor:pointer;" (click)="getCountry(country.Id)">{{ country.Name }}</td>
          <td class="cursor-pointer">
            <a (click)="deleteCountry(country.Id)">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

